<p>
    <strong>Title:</strong>
    <%= job_offer.job_title %>
</p>

<p>
    <strong>Hourly rate:</strong>
    <%= job_offer.hourly_rate %>
</p>

<p>
    <strong>Weekly hours:</strong>
    <%= job_offer.weekly_hours %>
</p>